* {margin: 0.5rem;}

body {
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  height: 100vh;
  color: #ededed;
  font-family: Raleway, sans-serif;
  font-size 1em;
  text-align: center;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h2, h3 {font-family: sans-serif;}

h2{font-size: 2em;}
h3{font-size: 1.75em;}


/* Button Styling start */
.btn {
  background-color: #5A71A3;
  padding: 10px;
  border: 1px solid #3D4D70;
  border-radius: 3px;
  color: #EDEDED;
  box-shadow: #2D374D 0px 6px;
  margin-top: 1em;
}

.btn:hover {
  background-color: #637EBA;
  cursor: pointer;
}

.btn:active {
  transform: translateY(3px);
  box-shadow: #303030 0px 3px;
}

.reset {
  background-color: #DDDDDD;
  color: #1c1c1c;
  box-shadow: #474747 0px 6px;
}

.reset:hover {
  background-color: #ECECEC;
}
/* Button styling End */